html, body, #content {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
}
#content {
  display: grid;
  grid-template-rows: auto min-content;
}
#clock {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  place-self: center;
}
#clock.hidden {
  display: none;
}
#second-hand {
  will-change: transform;
}
#minute-hand {
  will-change: transform;
}
#hour-hand {
  will-change: transform;
}
#time {
  font-family: monospace;
  font-size: 15vw;
  margin: 0;
  place-self: center;
}
#time.hidden {
  display: none;
}
#status {
  position: absolute;
  font-family: sans-serif;
  margin: 8px;
}
#status.hidden {
  display: none;
}
#settings-dialog {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
  font-family: sans-serif;
}
#settings-dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
#settings-dialog h2 {
  margin-top: 0;
}
@media (prefers-color-scheme: dark) {
  #settings-dialog {
    background-color: #333;
    color: white;
    border-color: #555;
  }
}
svg g.numerals text {
  text-anchor: middle;
  dominant-baseline: middle;
  font-size: 10px;
  font-family: sans-serif;
  stroke: none;
}
svg {
  fill: black;
  stroke: black;
}
@media (prefers-color-scheme: dark) {
  svg {
    fill: white;
    stroke: white;
  }
}
